.c-blog-eyeCatch {
  margin: 0 calc(50% - 50vw);
  margin-top: rem(16);
  margin-bottom: rem(24);

  @include mq(tab) {
    margin: rem(31) 0 rem(32);
  }
}
.c-blog-eyeCatch img {
  @include mq(tab) {
    width: 100%;
    margin: 0 auto;
  }
}

.p-blog-detail .c-pagination {
  padding-top: rem(58) !important;

  @include mq(tab) {
    padding-top: rem(79) !important;
  }
}
