.c-news-datecat {
  display: flex;
  align-items: flex-start;
  color: $text-color;
}

.c-news-datecat__date {
  margin-top: rem(3);
  margin-right: rem(32);

  @include mq() {
    margin-right: rem(49);
    margin-left: rem(2);
  }
}

.c-news-datecat__category {
  padding: rem(2) rem(21) rem(2) rem(20);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: rem(14);

  white-space: nowrap;
  @include mq() {
    padding-top: rem(4);
    padding-bottom: rem(3);
    margin-right: rem(61);
  }
}
