<section class="p-top-content">
  <div class="p-top-content__title p-section-title">
    <div class="p-top-content__title-wrap p-section-title__logo-wrap">
      <div class="p-section-title__logo">
        <span class="p-section-title__english">Content</span>
      </div>
    </div>
    <div class="p-section-title__heading">
      <h2 class="p-section-title__text">事業内容</h2>
    </div>
  </div>
  <ul class="p-top-content__list p-page-list">
    <li class="p-page-list__item">
      <a href="#" class="p-page-list__link">
        <picture class="p-page-list__picture">
          <source
            srcset="../images/top/page-list-image1-pc.png"
            media="(min-width: 768px)"
          />
          <img
            src="../images/top/page-list-image1.png"
            alt=""
            class="p-page-list__img"
          />
        </picture>
        <span class="p-page-list__title">経営理念ページへ</span>
      </a>
    </li>
    <li class="p-page-list__item">
      <a href="#" class="p-page-list__link">
        <picture class="p-page-list__picture">
          <source
            srcset="../images/top/page-list-image2-pc.png"
            media="(min-width: 768px)"
          />
          <img
            src="../images/top/page-list-image2.png"
            alt=""
            class="p-page-list__img"
          />
        </picture>
        <span class="p-page-list__title">理念1へ</span>
      </a>
    </li>
    <li class="p-page-list__item">
      <a href="#" class="p-page-list__link">
        <picture class="p-page-list__picture">
          <source
            srcset="../images/top/page-list-image3-pc.png"
            media="(min-width: 768px)"
          />
          <img
            src="../images/top/page-list-image3.png"
            alt=""
            class="p-page-list__img"
          />
        </picture>
        <span class="p-page-list__title">理念2へ</span>
      </a>
    </li>
    <li class="p-page-list__item">
      <a href="#" class="p-page-list__link">
        <picture class="p-page-list__picture">
          <source
            srcset="../images/top/page-list-image4-pc.png"
            media="(min-width: 768px)"
          />
          <img
            src="../images/top/page-list-image4.png"
            alt=""
            class="p-page-list__img"
          />
        </picture>
        <span class="p-page-list__title">理念3へ</span>
      </a>
    </li>
  </ul>
</section>
