<section class="p-top-blog">
  <div class="p-top-blog__title p-section-title">
    <div class="p-top-blog__title-wrap p-section-title__logo-wrap">
      <div class="p-section-title__logo">
        <span class="p-section-title__english">Blog</span>
      </div>
    </div>
    <div class="p-section-title__heading">
      <h2 class="p-section-title__text">ブログ</h2>
    </div>
  </div>
  <%- include('../_p-top-blog-items') %>
  <div class="p-top-blog__btn">
    <%- include('../_c-btn.ejs' ,{link:'./blog.html', text:'詳しく見る'}) %>
  </div>
</section>
