<section class="p-top-overview">
  <div class="p-top-overview__title p-section-title">
    <div class="p-top-overview__title-wrap p-section-title__logo-wrap">
      <div class="p-section-title__logo">
        <span class="p-section-title__english">Overview</span>
      </div>
    </div>
    <div class="p-section-title__heading">
      <h2 class="p-section-title__text">企業概要</h2>
    </div>
  </div>
  <div class="p-top-overview__card"><%- include('../_p-top-about') %></div>
</section>
