<section class="p-top-information">
  <div class="c-news-datecat p-top-information__datecat">
    <p class="c-news-datecat__date p-top-infomrmation__date">2020.07.20</p>
    <span class="c-news-datecat__category">お知らせ </span>
  </div>
  <p class="c-news-information p-top-information__text">
    <a href="#"
      >記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</a
    >
  </p>
  <div class="l-top-information__btn">
    <%- include('../_c-btn.ejs' ,{link:'./news.html', text:'すべて見る'}) %>
  </div>
  <div class="l-top-information__more-btn">
    <%- include('../_c-more-btn.ejs' ,{link:'./news.html',
    text:'すべて見る',name:'p-top-information__more-btn'}) %>
  </div>
</section>
