<section class="p-top-works">
  <div class="p-top-works__title p-section-title">
    <div class="p-top-works__title-wrap p-section-title__logo-wrap">
      <div class="p-section-title__logo">
        <span class="p-section-title__english">Works</span>
      </div>
    </div>
    <div class="p-section-title__heading">
      <h2 class="p-section-title__text">制作実績</h2>
    </div>
  </div>
  <div class="p-top-works__item"><%- include('../_p-top-work') %></div>
</section>
