.p-blog-items {
  @include mq() {
    max-width: rem(1440);
  }
}

.p-blog__item--new {
  position: relative;
  z-index: 9;
}

.p-blog__item--new::after {
  position: absolute;
  top: rem(-15);
  left: rem(-15);
  z-index: 10;
  width: rem(60);
  width: 100%;
  height: rem(60);
  background: url(../images/common/blog_new.png) no-repeat;
  background-size: contain;
  content: "";
}
