.p-blog-detail {
  padding-top: rem(50);
  padding-bottom: rem(120);
  background-color: #111111;
}

.p-blog-detail__cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(24);
  width: 100%;
  margin: rem(32) auto 0;

  @include mq(tab) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: rem(32);
    max-width: rem(1100);
    margin: rem(80) auto 0;
  }
}
