.p-drawer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100vh;
  background: #111111;
  text-align: center;
}

.p-drawer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: rem(-21);
  margin-right: rem(-2);

  flex-direction: column;
}

.p-drawer__item-link {
  display: block;
  width: 100%;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: rem(39);
  color: $text-color;
  font-size: rem(16);
}
