.p-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(8) 0 0 0;
  background: $Black;
  opacity: 0.7;
  transition: all 0.4s;

  @include mq() {
    padding: 0;
    margin-top: rem(-2);
  }
}

.p-header.is-open {
  opacity: 1;
}

.p-header__logo {
  z-index: 9999;
  height: rem(30);
  margin-left: rem(33);
  @include mq() {
    margin-left: rem(33);
  }
}

.p-header__img {
  width: rem(130);
  @include mq() {
    height: rem(35);
    width: initial;
  }
}
