.p-news-information {
  display: block;
  text-align: left;

  @include mq() {
    display: flex;
    align-items: center;
    text-align: left;
  }
}
.p-news-information__text {
  line-height: 1.4;

  @include mq() {
    margin-top: rem(-1);
  }
}
.p-news-information__date {
  margin-bottom: rem(16);

  @include mq() {
    margin-bottom: rem(0);
  }
}
