<div class="p-news-information">
  <div class="c-news-datecat p-news-information__date">
    <p class="c-news-datecat__date">2020.07.20</p>
    <span class="c-news-datecat__category">カテゴリ </span>
  </div>
  <p class="c-news-information p-news-information__text">
    <a href="#"
      >記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</a
    >
  </p>
</div>
