<div class="p-top-work">
  <div class="p-top-work__wrap">
    <div class="p-top-work__inner">
      <div class="p-top-work__slider swiper js-top-work-slide">
        <div class="swiper-wrapper">
          <img
            class="swiper-slide"
            src="../../images/common/top-slider1.jpg"
            alt="slider"
          />
          <img
            class="swiper-slide"
            src="../../images/common/top-slider2.jpg"
            alt="slider"
          />
          <img
            class="swiper-slide"
            src="../../images/common/top-slider3.jpg"
            alt="slider"
          />
        </div>
      </div>
      <div
        class="swiper-pagination p-top-work__pagination js-top-work-pagination"
      ></div>
    </div>
    <div class="p-top-work__body">
      <p class="p-top-work__body-title">
        お客さま第一で課題解決に向けて伴走します
      </p>
      <p class="p-top-work__body-text">
        これまで「お客さまの一人ひとりにあったご提案」を第一に考え、数多くの制作物を納品してまいりました。
        WEBサイト、ロゴデザインなど幅広く対応し、
        一貫制作することによりビジネスの負担を極限まで減らした高品質な制作物をご提供いたします。
      </p>
      <div class="p-top-work__btn">
        <%- include('./_c-btn.ejs' ,{link:'./works.html', text:'詳しく見る'}) %>
      </div>
    </div>
  </div>
</div>
