<div class="l-top-blog__items p-top-blog__items p-top-blog-items">
  <div class="p-top-blog__item p-blog__item--new" data-group="1">
    <a href="./blog-detail.html" class="c-blog-card">
      <figure class="c-blog-card__img-wrapper">
        <img
          class="c-blog-card__img"
          src="../../images/common/blog_1.jpg"
          alt=""
        />
      </figure>
      <div class="c-blog-card__contents">
        <p class="c-blog-card__title">
          弊社のホームページをリニューアルしました。
        </p>
        <p class="c-blog-card__text">
          本日弊社のコーポレートサイトをリニューアルし、公開いたしました。
        </p>
        <div class="c-blog-card__item">
          <span class="c-blog-card__category">お知らせ</span>
          <time class="c-blog-card__time" datetime="2021.07.20"
            >2021.07.20</time
          >
        </div>
      </div>
    </a>
  </div>

  <div class="p-top-blog__item" data-group="1">
    <a href="./blog-detail.html" class="c-blog-card">
      <figure class="c-blog-card__img-wrapper">
        <img
          class="c-blog-card__img"
          src="../../images/common/blog_2.jpg"
          alt=""
        />
      </figure>

      <div class="c-blog-card__contents">
        <p class="c-blog-card__title">
          サイト制作にあたってのヒアリング内容を具体的にご説明します。
        </p>
        <p class="c-blog-card__text">
          お客さまの目的を果たすためには、徹底したヒアリングが必要だと考えております。
        </p>
        <div class="c-blog-card__item">
          <span class="c-blog-card__category">WEB制作</span>
          <time class="c-blog-card__time" datetime="2021.07.20"
            >2021.07.20</time
          >
        </div>
      </div>
    </a>
  </div>

  <div class="p-top-blog__item" data-group="2">
    <a href="./blog-detail.html" class="c-blog-card">
      <figure class="c-blog-card__img-wrapper">
        <img
          class="c-blog-card__img"
          src="../../images/common/blog_3.jpg"
          alt=""
        />
      </figure>

      <div class="c-blog-card__contents">
        <p class="c-blog-card__title">新サービスを公開しました。</p>
        <p class="c-blog-card__text">
          弊社の主力サービスを改善し、よりよいものをご提供いたします。
        </p>
        <div class="c-blog-card__item">
          <span class="c-blog-card__category">お知らせ</span>
          <time class="c-blog-card__time" datetime="2021.09.30"
            >2021.09.30</time
          >
        </div>
      </div>
    </a>
  </div>
</div>
